<div class="p-4 space-y-6">
  <div class="bg-white dark:bg-gray-800 
                rounded-2xl shadow-sm 
                p-6 
                transition-colors duration-300">

    <form [formGroup]="form" class="space-y-4">
      <base-input formControlName="inputTest1" [label]="'Input test 1'">
      </base-input>
    </form>

  </div>

  <!-- CARD SECTION -->
  <base-card title="Test card">
    <div class="text-gray-700 dark:text-gray-200">
      hihihi
    </div>
  </base-card>

  <base-card title="Test card">
    <div class="text-gray-700 dark:text-gray-200">
      <app-base-pagination-table [headers]="headers" [data]="data" [config]="config">
      </app-base-pagination-table>
    </div>
  </base-card>

</div>