:root {

  /* ===== BRAND ORANGE ===== */
  --ion-color-primary: #f97316;        /* orange-500 */
  --ion-color-primary-rgb: 249,115,22;

  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;

  --ion-color-primary-shade: #ea580c;  /* orange-600 */
  --ion-color-primary-tint: #fb923c;   /* orange-400 */

  /* TEXT */
  --ion-text-color: #111827;  /* gray-900 */
  --ion-border-color: #e5e7eb; /* gray-200 */

  /* BACKGROUND */
  --ion-background-color: #ffffff;
  --ion-item-background: #ffffff;
}

body {
  --ion-background-color: transparent;
  --ion-card-background: transparent;
}

ion-app,
ion-icon,
ion-content {
  --background: transparent;
  --ion-background-color: transparent;
}

.dark {

  --ion-background-color: #0b0f0c;
  --ion-item-background: #111827;

  --ion-text-color: #e5e7eb;
  --ion-border-color: #1f2937;

}